<div class="hpanel">
  <div class="panel-heading hbuilt">
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table cellpadding="1" cellspacing="1" class="table">
        <tbody>
          <%= render partial: "messages/show/mtalog", collection: @message.logtrace %>
        </tbody>
      </table>
    </div>
  </div>
</div>
