<td class="td-mbxs">
  <span class="td-total-mbxs"> <%= object.total_mbxs %> </span>
  <br>
  <small> <%= object.basic_mbxs %> Bas | <%= object.professional_mbxs %> Pro | <%= object.premium_mbxs %> Pre</small>
</td>