<div class="col-md-3">
  <table class="table table-message-stats">
    <tr>
      <td class="header-field">RUT Emisor</td>
      <td class="header-value"><%= @message.rut_emisor %></td>
    </tr>
    <tr>
      <td class="header-field">RUT Receptor</td>
      <td class="header-value"><%= @message.rut_receptor %></td>
    </tr>
    <tr>
      <td class="header-field">Tipo Folio</td>
      <td class="header-value"><%= @message.dte.dte_type %></td>
    </tr>
    <tr>
      <td class="header-field">Folio</td>
      <td class="header-value"><%= @message.dte.folio %></td>
    </tr>
  </table>
</div>
