<div class="alert alert-danger text-center">
  Tienes que agregar restricciones o no va a funcionar
  <div style="margin-top: 20px;">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#new_restriction">
        Agregar restricción
    </button>
  </div>
</div>