<div class="table-responsive">
  <table cellpadding="1" cellspacing="1" class="table table-striped mtalog">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Host</th>
        <th>Log</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "messages/show/mtalog", collection: collection %>
    </tbody>
  </table>
</div>