<div class="row">

<% if @messages.empty? %>
  <div class="hpanel col-md-9">
    <div class="panel-body text-center">
      <h2>Ningún resultado para tu búsqueda</h2>
    </div>
  </div>
<% else %>
  <div class="hpanel col-md-9">
    <div class="panel-heading hbuilt">
      <div class="pull-right" style="padding-right: 10px;">
        <h4>
          <%= number_to_human @message_search.result.size %> mensajes
        </h4>
      </div>
      <ul class="list-inline delivery-status-explain">
        <li><span class="label delivery-sent">enviado</span></li>
        <li><span class="label delivery-enqueued">procesando</span></li>
        <li><span class="label delivery-partial">envio parcial</span></li>
        <li><span class="label delivery-failed">con falla</span></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="table">
        <table class="table">
            <thead>
              <tr>
                  <th></th>
                  <th>Información</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "dte_messages/index/message", collection: @messages %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= render partial: "dte_messages/index/search" %>
<% end %>
</div>