<div class="row">

  <div class="col-md-12 animated-panel ZoomIn">
    <div class="hpanel">
      <div class="panel-heading">
        <i class="pe-7s-back" style="font-size: 14px"></i>
        <%= link_to "Volver", :back %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render partial: 'dte_messages/show/message_header' %>
          <%= render partial: 'dte_messages/show/message_stats' %>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render partial: "messages/show/mtalogs" %>