<!DOCTYPE html>
<html>
<head>
  <title>CarterApp::Beta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
</head>
<body class="blank">
<% cache do %>
<div class="cold-md-2" style="padding: 20px;">
  <img src="//my.pingdom.com/uploads/qulxlgnb6ogm.png">
</div>
<% end %>
<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <%= yield %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            ZBox Mail : Correo en la nube, seguro y facil de usar
            <br>Copyright © 2014-2015 ZBox Spa. Todos los derechos reservados 
        </div>
    </div>
</div>
</body>
</html>

