<div class="hpanel">
    <div class="panel-body">
        <a class="small-header-action" href="">
            <div class="clip-header">
                <i class="fa fa-arrow-up"></i>
            </div>
        </a>
        <h2 class="font-light m-b-xs" style="margin-top:0px">
            Cuentas
        </h2>
        <small>Empresas y usuarios que pueden acceder a CarterApp</small>
    </div>
</div>

<div class="hpanel">
  <div class="panel-body">
      <div class="table-responsive">
      <table cellpadding="1" cellspacing="1" class="table table-condensed table-striped">
          <thead>
          <tr>
              <th>Nombre</th>
              <th>Usuarios</th>
              <th>Cliente de</th>
              <th>Restricción</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
            <%= render :partial => "accounts/index/account",  collection: @accounts %>
          </tbody>
      </table>
    </div>
  </div>
</div>